@charset "UTF-8";
@import "/assets/styles/common/base/globalfun";

@mixin aDefault{
  text-decoration: none;
  outline:none;
  -moz-outline:none;
}

body{
  font-family: $sysFontFamily;
  font-size: $baseFontSize;
  color: $baseFontColor;
  background: #f00;
}
/*默认链接*/
a{
  @include aDefault;
  color:#000;
  star:expression(this.onFocus=this.blur()); /* for Ie*/
  &:hover,&:active,&:focus{
    @include aDefault;
  }
  img{
    border: 0;
  }
}
button{ cursor: pointer;
  star:expression(this.onFocus=this.blur());
  &:hover,&:active,&:focus{
    @include aDefault;
  }
  border: none;
  background-color: transparent;
}
/*字体内容对齐*/
.text-left{ text-align: left!important;}
.text-center{ text-align: center!important;}
.text-right{ text-align: right!important;}
.ta-c{text-align: center!important;}
.ta-l{text-align: left!important;}
.ta-r{text-align: right!important;}


.fl{ display: inline; float: left;!important}
.fr{ display: inline; float: right;!important}
.ilbk{
  @include inline-block;
}
.auto-w{
  width: auto!important;
}
///*clearfix*/
.clearfix{
  clear: both;
  zoom: 1;
  &:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
  }
}