@charset "UTF-8";

.icon{
    zoom: 1;
    display: inline-block;
    *display: inline;
    background-image: url("../../images/icon-sprite.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-xs{
    overflow: hidden;
    width: 18px;
    height:18px;
}

.icon-sm{
    overflow: hidden;
    width: 28px;
    height: 28px;
}

.icon-md{
    overflow: hidden;
    width: 38px;
    height: 38px;
}

.icon-search{
    background-position: 0 0;
}

.icon-heart.on{
    background-position: -18px 0;
}
.icon-heart{
    background-position: -36px 0;
}
.icon-home{
    background: #eee;
}
.icon-category{
    background: #eee;
}
.icon-cart{
    background: #eee;
}
.icon-account{
    background: #eee;
}
.icon-star{
    background: #eee;
}