@charset "UTF-8";
.product-list-wrap{
    margin: 50px 0 0;
}
.category-list{
    position: fixed;
    top: 50px;
    left: 0;
    padding-bottom: 70px;
    height: 100%;
    width: 90px;
    z-index: 99;
    overflow-y: auto;
    border-right: 1px solid #e6e6e6;
    background: #F3F4F6;
}
.category-list li{
    display: block;
    border-bottom: 1px solid #e6e6e6;
}
.category-list li a{
    display: block;
    line-height: 40px;
    padding: 0 12px;
    color: #474747;
    border-radius: 0;
}
.category-list .active{
    background: #fff;
}

/*category top search*/
.category-top-search{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.category-top-search .form-control-i{
    position: relative;
    top:0;
    left: 0;
    margin-left: 105px;
    margin-right: 15px;
}
.category-top-search .form-control-i .search-key{
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding-left: 40px;
    text-align: left;
    border: none;
    background: #eeecec;
}
.category-top-search .form-control-i .icon-search-category{
    position: absolute;
    top: 0;
    left: 0;
    color: #999;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: 0 0;
    text-align: center;
    background: #eeecec;
}

/*list-con*/
.list-con{
    position: relative;
    top: 62px;
    z-index: 1;
    margin-left: 105px;
    padding-bottom: 10px;
}
.list-con ul{
    padding-bottom: 70px;
}
.list-con li{
    float: left;
    display: list-item;
    margin: 0 8% 12px 0;
    width: 42%;
    text-align: center;
}
.list-con li a span{
    display: block;
}
.list-con .p-price{
    color: #ec652a;
}

.category-top-search span{
    position: absolute;
    top: 0;
    padding: 5px 0 0 5px;
    color: #999;
}
.category-top-search i{
    font-size: 22px;
}