@charset "UTF-8";

.product-detail-wrap{
    margin-top: 50px;
    padding-bottom: 70px;
}
.detail-img-wrap{
    overflow: hidden;
    position: relative;
    top: 0;
    left:0;
    width: 100%;
}
.product-img{
    overflow: hidden;
    position: relative;
    top: 0;
    left:0;
    width: 100%;
}
.detail-img-wrap .icon-star{
    position: absolute;
    right:15px;
    bottom: 15px;
    z-index: 999;
}
.detail-info-wrap{
    padding: 0 10px;
}
.detail-info-wrap h1{
    font-size: 20px;
    margin: 12px 0 5px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
}
.detail-price span{
    font-size: 24px;
    color: #EA5413;
    margin-bottom: 2px;
}
.detail-price .price2{
    font-size: 13px;
    color: #777;
    margin: -2px 0 10px 2px;
}
.detail-item-group{
    padding: 10px 0 5px;
    border-top: 1px dashed #ccc;
    color: #999;
    font-size: 14px;
    line-height: 1.4;
}
.detail-item-group span{
    display: block;
    margin-bottom: 10px;
}
.detail-item-group .qty{
    position: relative;
    top: 0;
    left:0;
    width: 120px;
    height: 28px;
    line-height: 28px;
}
.detail-item-group .icon-minus{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.detail-item-group .icon-add{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.detail-item-group .form-control{
    padding: 0 28px;
}
.detail-item-group .form-control input{
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    text-align: center;
}
.product-description{
    padding-top: 5px;
    background: #eee;
}
.product-description h2{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 8px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.description-wrap img{
    max-width: 100%;
}

/*btn cart*/
.add-cart-btn,.buy-now-btn{
    border-radius: 5px;
}
.add-cart-btn{
    padding: 0;
    width: 38%;
    color: #EC5413;
    background-color: #DCDCDC;
    border: none;
    height: 42px;
    margin: 10px 0 10px 12px;
    line-height: 42px;
    font-size: 16px;
}
.buy-now-btn{
    padding: 0;
    width: 38%;
    color: #fff;
    background-color: #EA5413;
    border: none;
    height: 42px;
    margin: 10px 0 10px 12px;
    line-height: 42px;
    font-size: 16px;
}
